## Mandatory ranking
[unsupervised]
# Weight value of prevalence to calculate weighted harmonic mean, named as beta parameter[ Default: 0.50 ] 
DNA_prevalence = 0.50
# Weight value of mean abundance to calculate weighted harmonic mean [ Default: 0.50 ] 
DNA_abundance = 0.50

[supervised]
# Use the ecological property (abundance) to do prioritization. [required] required item, [optional] optional item, [none] ignoring. [ Default: required]
DNA-within-phenotype_abundance = required
# Use the ecological property (prevalence) to do prioritization. [required] required item, [optional] optional item, [none] ignoring. [ Default: required]
DNA-within-phenotype_prevalence = required
# Use the association with phenotypes (q values from associations) to do prioritization. [required] required item, [optional] optional item, [none] ignoring. [ Default: required]
MaAsLin2_DA__qvalue = required
# Use the association with phenotypes (effect size from associations) to do prioritization. [required] required item, [optional] optional item, [none] ignoring. [ Default: required]
MaAsLin2_DA__mean(log) = required


## Binary filtering for selection subset
# All [vignette_type] should be true
# All [required] items should be true 
# At least one [optional] item should be true 
# All [none] items will be ignored
# Default: select protein families significantly associated with the main clinical phenotype

[filtering]
# Filter for interested functional vignettes type [Choices: pilin | secreted_system | other user defined | none]
vignettes = none

# Filter for significant associations: [required] required item, [optional] optional item, [none] ignoring [ Default: required ]
MaAsLin2_DA-sig = optional

# Filter for biochemical annotations: [required] required item, [optional] optional item, [none] ignoring
ExpAtlas_interaction = none
DOMINE_interaction = none
SIFTS_interaction = none
Denovo_signaling = optional
Denovo_transmembrane = optional
PSORTb_extracellular = none
PSORTb_cellWall = none
PSORTb_outerMembrane = none
UniRef90_extracellular = optional
UniRef90_signaling = optional
UniRef90_transmembrane = optional
UniRef90_cellWall = optional
UniRef90_outerMembrane = optional
UniRef90_PfamDomain = none
InterProScan_PfamDomain = none
InterProScan_SUPERFAMILY = none
InterProScan_ProSiteProfiles = none 
InterProScan_ProSitePatterns = none
InterProScan_Gene3D = none
InterProScan_PANTHER = none
InterProScan_TIGRFAM = none
InterProScan_SFLD = none
InterProScan_ProDom = none
InterProScan_Hamap = none
InterProScan_SMART = none
InterProScan_CDD = none
InterProScan_PRINTS = none
InterProScan_PIRSF = none
InterProScan_MobiDBLite = none
